In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [31]:
df = pd.DataFrame({
    "Chromosome":[1,1,1,1, 2, 2, 3, 3, 3, 3, 3, 3],
    "Type":["ORF","ARS","ORF","ORF", "ORF","ARS", "ARS","ORF", "ORF","ARS","ORF","ARS"],
    "Name":["YFG1","ARS1","YFG2","YFG3", "YFG4", "ARS2", "ARS3a","YFG5", "YFG6", "ARS3b", "YFG7","ARS3c"]
})
df

    Chromosome Type   Name
0            1  ORF   YFG1
1            1  ARS   ARS1
2            1  ORF   YFG2
3            1  ORF   YFG3
4            2  ORF   YFG4
5            2  ARS   ARS2
6            3  ARS  ARS3a
7            3  ORF   YFG5
8            3  ORF   YFG6
9            3  ARS  ARS3b
10           3  ORF   YFG7
11           3  ARS  ARS3c

In [32]:
 cts = df.groupby(["Chromosome","Type"]).Type.count()
 cts

Chromosome  Type
1           ARS     1
            ORF     3
2           ARS     1
            ORF     1
3           ARS     3
            ORF     3
Name: Type, dtype: int64

In [34]:
cts.unstack()  # what does unstack method do? read the pandas docs

Type        ARS  ORF
Chromosome
1             1    3
2             1    1
3             3    3

In [36]:
cts.unstack(level=0)  # what does changing this argument do differently?

Chromosome  1  2  3
Type
ARS         1  1  3
ORF         3  1  3

In [35]:
cts.unstack().stack() # what does stack method do?

Chromosome  Type
1           ARS     1
            ORF     3
2           ARS     1
            ORF     1
3           ARS     3
            ORF     3
dtype: int64