In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

## Label indices on DataFrames and Series

When we create a Pandas DataFrame or Series object there is always an associated "index" that labels the axes of the DataFrame or Series.  I'll refer to the values of these labels as "label indices" to disambiguate them from the standard positional indices that we're used to when working with Python data structures such as lists and arrays.

If you don't specify specific label indices, than Pandas will generate a default set of label indices for you:

In [30]:
df1 = pd.DataFrame({
 "chromosome": [1, 2, 3, 3],
 "gene": ["YFG1", "YFG2", "YFG3", "YFG4"]   
})

df1

   chromosome  gene
0           1  YFG1
1           2  YFG2
2           3  YFG3
3           3  YFG4

In [31]:
df1.index  # get the label indices associated with the data frame

RangeIndex(start=0, stop=4, step=1)

A Slice generated by taking a single column of a DataFrame shares the same indices:

In [32]:
df1.gene

0    YFG1
1    YFG2
2    YFG3
3    YFG4
Name: gene, dtype: object

If you want to specify your own indices, use the `index` argument when constructing the data frame:

In [33]:
df1 = pd.DataFrame({
    "chromosome": [1, 2, 3, 3],
    "gene": ["YFG1", "YFG2", "YFG3", "YFG4"]},
    index = ["a","b","c","d"])

df1

   chromosome  gene
a           1  YFG1
b           2  YFG2
c           3  YFG3
d           3  YFG4

In [34]:
df1.gene

a    YFG1
b    YFG2
c    YFG3
d    YFG4
Name: gene, dtype: object

### Label indices are not necessarily unique

In [39]:
df1a = pd.DataFrame({
    "chromosome": [1, 2, 3, 3],
    "gene": ["YFG1", "YFG2", "YFG3", "YFG4"]},
    index = ["a","b","c","a"])

df1a

   chromosome  gene
a           1  YFG1
b           2  YFG2
c           3  YFG3
a           3  YFG4

## Label indices are used when you combine information from different data frames

In [96]:
df1 = pd.DataFrame(
    {
    "chromosome": [1, 2, 3, 3],
    "gene": ["YFG1", "YFG2", "YFG3", "YFG4"]
    },
)

df2 = pd.DataFrame(
    {
    "gene": ["YFG4", "YFG2", "YFG3", "YFG1"],
    "description": ["Function X", "Function Y", "Function Z", ""],
    "reference": ["Smith et al. 2010", "Magwene 2020", "Doe 1984", "Botstein 2013"]
    },
)

In [97]:
df1

   chromosome  gene
0           1  YFG1
1           2  YFG2
2           3  YFG3
3           3  YFG4

In [98]:
df2

   gene description          reference
0  YFG4  Function X  Smith et al. 2010
1  YFG2  Function Y       Magwene 2020
2  YFG3  Function Z           Doe 1984
3  YFG1                  Botstein 2013

### What happens if we try and combine these data frames naively?

In [88]:
df1["description"] = df2.description  ## works but gives wrong alignment!
df1

   chromosome  gene description
0           1  YFG1  Function X
1           2  YFG2  Function Y
2           3  YFG3  Function Z
3           3  YFG4

In [99]:
# what happens if data frames have different indices?

df2alpha = pd.DataFrame({
 "gene": ["YFG4", "YFG2", "YFG3", "YFG1"],
 "description": ["Function X", "Function Y", "Function Z", ""],
 "reference": ["Smith et al. 2010", "Magwene 2020", "Doe 1984", "Botstein 2013"]
},
index=["a","b","c","d"])

df2alpha

   gene description          reference
a  YFG4  Function X  Smith et al. 2010
b  YFG2  Function Y       Magwene 2020
c  YFG3  Function Z           Doe 1984
d  YFG1                  Botstein 2013

In [100]:
df1["description"] = df2alpha.description  ## works but gives empty values
df1

   chromosome  gene description
0           1  YFG1         NaN
1           2  YFG2         NaN
2           3  YFG3         NaN
3           3  YFG4         NaN

### setting the index after creation

In [104]:
df1 = pd.DataFrame(
    {
    "chromosome": [1, 2, 3, 3],
    "gene": ["YFG1", "YFG2", "YFG3", "YFG4"]
    },
)

df2 = pd.DataFrame(
    {
    "gene": ["YFG4", "YFG2", "YFG3", "YFG1"],
    "description": ["Function X", "Function Y", "Function Z", ""],
    "reference": ["Smith et al. 2010", "Magwene 2020", "Doe 1984", "Botstein 2013"]
    },
)

In [105]:
df1 = df1.set_index(df1.gene)
df1

      chromosome  gene
gene
YFG1           1  YFG1
YFG2           2  YFG2
YFG3           3  YFG3
YFG4           3  YFG4

In [106]:
df2 = df2.set_index(df2.gene)
df2

      gene description          reference
gene
YFG4  YFG4  Function X  Smith et al. 2010
YFG2  YFG2  Function Y       Magwene 2020
YFG3  YFG3  Function Z           Doe 1984
YFG1  YFG1                  Botstein 2013

In [107]:
df1["description"] = df2["description"]
df1

      chromosome  gene description
gene
YFG1           1  YFG1
YFG2           2  YFG2  Function Y
YFG3           3  YFG3  Function Z
YFG4           3  YFG4  Function X

## Merging DataFrames

In [108]:
df1 = pd.DataFrame(
    {
    "chromosome": [1, 2, 3, 3],
    "gene": ["YFG1", "YFG2", "YFG3", "YFG4"]
    },
)

df2 = pd.DataFrame(
    {
    "gene": ["YFG4", "YFG2", "YFG3", "YFG1"],
    "description": ["Function X", "Function Y", "Function Z", ""],
    "reference": ["Smith et al. 2010", "Magwene 2020", "Doe 1984", "Botstein 2013"]
    },
)

In [109]:
pd.merge(df1, df2, on="gene")

   chromosome  gene description          reference
0           1  YFG1                  Botstein 2013
1           2  YFG2  Function Y       Magwene 2020
2           3  YFG3  Function Z           Doe 1984
3           3  YFG4  Function X  Smith et al. 2010

### Other types of joins

In [118]:
df1 = pd.DataFrame(
    {
    "chromosome": [1, 2, 3, 3, 4],
    "gene": ["YFG1", "YFG2", "YFG3", "YFG4", "YFG5"],
    },
)


df2 = pd.DataFrame(
    {
    "gene": ["YFG4", "YFG2", "YFG3", "YFG1", "YFG9"],
    "description": ["Function X", "Function Y", "Function Z", "", "Function Q"],
    "reference": ["Smith et al. 2010", "Magwene 2020", "Doe 1984", "Botstein 2013", "Dietrich 2004"]
    },
)

In [119]:
df1

   chromosome  gene
0           1  YFG1
1           2  YFG2
2           3  YFG3
3           3  YFG4
4           4  YFG5

In [120]:
df2

   gene description          reference
0  YFG4  Function X  Smith et al. 2010
1  YFG2  Function Y       Magwene 2020
2  YFG3  Function Z           Doe 1984
3  YFG1                  Botstein 2013
4  YFG9  Function Q      Dietrich 2004

In [124]:
pd.merge(df1,df2,on="gene")  # by default merge takes "inner" join = intersection of keys from left and right df

   chromosome  gene description          reference
0           1  YFG1                  Botstein 2013
1           2  YFG2  Function Y       Magwene 2020
2           3  YFG3  Function Z           Doe 1984
3           3  YFG4  Function X  Smith et al. 2010

In [125]:
pd.merge(df1, df2, on="gene", how="left") # "left" join = keys from left df

   chromosome  gene description          reference
0           1  YFG1                  Botstein 2013
1           2  YFG2  Function Y       Magwene 2020
2           3  YFG3  Function Z           Doe 1984
3           3  YFG4  Function X  Smith et al. 2010
4           4  YFG5         NaN                NaN

In [126]:
pd.merge(df1, df2, on="gene", how="right") # "right" join = keys from right df

   chromosome  gene description          reference
0         3.0  YFG4  Function X  Smith et al. 2010
1         2.0  YFG2  Function Y       Magwene 2020
2         3.0  YFG3  Function Z           Doe 1984
3         1.0  YFG1                  Botstein 2013
4         NaN  YFG9  Function Q      Dietrich 2004

In [127]:
pd.merge(df1, df2, on="gene", how="outer")  # "outer" join = union of keys

   chromosome  gene description          reference
0         1.0  YFG1                  Botstein 2013
1         2.0  YFG2  Function Y       Magwene 2020
2         3.0  YFG3  Function Z           Doe 1984
3         3.0  YFG4  Function X  Smith et al. 2010
4         4.0  YFG5         NaN                NaN
5         NaN  YFG9  Function Q      Dietrich 2004

## Combining information on genome features and gene ontology

In [129]:
yeast = pd.read_csv("/Users/pmagwene/Downloads/SGD_features.tsv", delimiter="\t")

In [131]:
yeast.columns

Index(['SGDID', 'Type', 'Qualifier', 'Name', 'Gene', 'Alias', 'Parent',
       'Secondary', 'Chromosome', 'Start', 'Stop', 'Strand', 'GeneticPosition',
       'CoordVersion', 'SeqVersion', 'Description'],
      dtype='object')

## Yeast GO mapping files

go_slim_mapping.tab	This file is TAB delimited and contains the mapping of all yeast gene products (protein or RNA)
to a GO-Slim term.

```
1) ORF (mandatory) 		- Systematic name of the gene
2) Gene (optional) 		- Gene name, if one exists
3) SGDID (mandatory) 		- the SGDID, unique database identifier for the gene
4) GO_Aspect (mandatory) 	- which ontology: P=Process, F=Function, C=Component
5) GO Slim term (mandatory) 	- the name of the GO term that was selected as a GO Slim term
6) GOID (optional) 		- the unique numerical identifier of the GO term
7) Feature type (mandatory) 	- a description of the sequence feature, such as ORF or tRNA
```

In [142]:
gonames = ["ORF", "Gene", "SGDID", "GO_aspect", "GO_slim", "GO_ID", "Type"]
goterms = pd.read_table("/Users/pmagwene/Downloads/go_slim_mapping.tab", names=gonames,header=None)

In [143]:
goterms.shape

(42885, 7)

In [145]:
goterms.head(10)

,ORF,Gene,SGDID,GO_aspect,GO_slim,GO_ID,Type
0,HRA1,HRA1,S000119380,C,cellular_component,GO:0005575,ncRNA_gene
1,HRA1,HRA1,S000119380,F,molecular_function,GO:0003674,ncRNA_gene
2,HRA1,HRA1,S000119380,P,rRNA processing,GO:0006364,ncRNA_gene
3,HRA1,HRA1,S000119380,P,ribosomal small subunit biogenesis,GO:0042274,ncRNA_gene
4,ICR1,ICR1,S000132612,C,nucleus,GO:0005634,ncRNA_gene
5,ICR1,ICR1,S000132612,F,molecular_function,GO:0003674,ncRNA_gene
6,ICR1,ICR1,S000132612,P,transcription from RNA polymerase II promoter,GO:0006366,ncRNA_gene
7,LSR1,LSR1,S000006478,C,nucleus,GO:0005634,snRNA_gene
8,LSR1,LSR1,S000006478,F,RNA binding,GO:0003723,snRNA_gene
9,LSR1,LSR1,S000006478,P,RNA splicing,GO:0008380,snRNA_gene

In [147]:
newfeatures = pd.merge(yeast, goterms, on="SGDID")

In [148]:
newfeatures.head(3)

,SGDID,Type_x,Qualifier,Name,Gene_x,Alias,Parent,Secondary,Chromosome,Start,...,GeneticPosition,CoordVersion,SeqVersion,Description,ORF,Gene_y,GO_aspect,GO_slim,GO_ID,Type_y
0,S000002143,ORF,Dubious,YAL069W,NaN,NaN,chromosome 1,NaN,1,335.0,...,NaN,7/31/96,7/31/96,Dubious open reading frame; unlikely to encode...,YAL069W,NaN,C,cellular_component,GO:0005575,ORF|Dubious
1,S000002143,ORF,Dubious,YAL069W,NaN,NaN,chromosome 1,NaN,1,335.0,...,NaN,7/31/96,7/31/96,Dubious open reading frame; unlikely to encode...,YAL069W,NaN,F,molecular_function,GO:0003674,ORF|Dubious
2,S000002143,ORF,Dubious,YAL069W,NaN,NaN,chromosome 1,NaN,1,335.0,...,NaN,7/31/96,7/31/96,Dubious open reading frame; unlikely to encode...,YAL069W,NaN,P,biological_process,GO:0008150,ORF|Dubious